html, body {
    margin: 0;
    height: 100%;
    background-color: black;
    background-image: url("IMG_0333.jpeg");
    color: white;
    overflow: hidden;
    background-position: right;
    background-size: cover, contain;
}
th, td {
    padding-right: 15px;
    padding-bottom: 2px;
    text-align: left;
}
h1 {
	text-align: center;
}
* {
    font-family: Bitter, serif;
}

#datum {
    text-align: center;
    font-size: 3em;
}

#klocka {
    text-align: center;
    font-size: 10em;
}

#tunnelbana {
    display: inline-block
}

#tunnelbanaW {
    text-align: center;
}

.avgångar {
    padding-right: 20px;
    padding-left: 20px;
    display: inline-block;
    vertical-align: top;
    font-size: 2em;
}



#depaturesGUI {
    color: red;
    display: block;
    font-size: 1.5em;
}
.temps>div{
    display:inline-block;
    margin:20px;
    margin-bottom:0;

}
.temps {
    font-size:3em;
    text-align: center;
}